trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  GITHUB_USER: nichollaslima
  GITHUB_REPO: AllThingsServeTheTower
  GITHUB_TOKEN: $(Token)  # 游눠 isso deve vir de uma vari치vel secreta no DevOps

steps:
- script: |
    echo "游닌 Clonando reposit칩rio do Azure DevOps (este pr칩prio reposit칩rio)..."
    git clone --bare https://$(System.AccessToken)@dev.azure.com/$(System.CollectionUri)/$(Build.Repository.Name) repo.git
    cd repo.git

    echo "游니 Adicionando GitHub como remote"
    git remote add github https://$(GITHUB_USER):$(GITHUB_TOKEN)@github.com/$(GITHUB_USER)/$(GITHUB_REPO).git

    echo "游 Enviando tudo para o GitHub (mirror)"
    git push --mirror github
  displayName: 'Mirror para GitHub'
  env:
    SYSTEM_ACCESSTOKEN: $(AzureDevOpsToken)
