trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  AZURE_DEVOPS_PAT: $(AzureDevOpsToken)    # Vari치vel secreta do Azure DevOps
  GITHUB_TOKEN: $(Token)             # Vari치vel secreta do GitHub
  GITHUB_USER: NichollasLima
  GITHUB_REPO: AllThingsServeTheTower

steps:
- script: |
    echo "游닌 Clonando o reposit칩rio do Azure DevOps usando PAT..."
    git clone https://MyProjectsNRSL:$(AZURE_DEVOPS_PAT)@dev.azure.com/MyProjectsNRSL/Atlas/_git/AllThingsServeTheTower repo

    cd repo

    echo "游댍 Verificando integridade do reposit칩rio local..."
    git fsck --full
    echo "游빛 Otimizando reposit칩rio local..."
    git gc --prune=now --aggressive

    git config user.name "Azure Mirror"
    git config user.email "azure@mirror.dev"

    echo "游니 Configurando remote para GitHub..."
    git remote add github https://$(GITHUB_USER):$(GITHUB_TOKEN)@github.com/$(GITHUB_USER)/$(GITHUB_REPO).git

    echo "游 Branch atual:"
    git branch
    git log -1 --oneline

    echo "游 Realizando push for칞ado para GitHub main"
    git push github HEAD:refs/heads/main --force
  displayName: 'Mirror to GitHub'
