trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  GITHUB_USER: nichollaslima
  GITHUB_REPO: AllThingsServeTheTower
  GITHUB_TOKEN: $(Token)  # vari치vel secreta

steps:
- script: |
    echo "游닌 Clonando reposit칩rio do Azure DevOps..."
    git config --global credential.helper store
    git clone https://$(System.AccessToken)@dev.azure.com/$(System.CollectionUri)/$(System.TeamProject)/_git/$(Build.Repository.Name) repo
    cd repo

    echo "游니 Adicionando GitHub como remote"
    git remote add github https://$(GITHUB_USER):$(GITHUB_TOKEN)@github.com/$(GITHUB_USER)/$(GITHUB_REPO).git

    echo "游 Fazendo push for칞ado da branch main para o GitHub"
    git push github main --force
  displayName: 'Mirror para GitHub'
  env:
    SYSTEM_ACCESSTOKEN: $(AzureDevOpsToken)
